/* EDITOR */

.editor {
  min-height: min-content;
}

.editor .mdxeditor-root-contenteditable {
  min-height: calc(100% - 4rem);
}

@media screen and (900px <= width) {
  .editor {
    translate: 0 -6rem;
  }

  .editor .mdxeditor-root-contenteditable {
    min-height: calc(100% + 4rem);
  }
}

.mdxeditor-toolbar {
  flex-wrap: wrap;
}

.editor:has(:active) {
  border: solid 5ps red;
}

@media (prefers-color-scheme: dark) {
  .editor {
    --baseTextContrast: #f8f9fa;
    --basePageBg: #111418;
    --baseBg: #f8f9fa22;
  }
  .editor .mdxeditor-root-contenteditable {
    background-color: hsl(36 45% 30%);
  }
}

@media (prefers-color-scheme: light) {
  .editor .mdxeditor-root-contenteditable {
    background-color: hsl(36 39% 88%);
  }
  .editor {
    /*
    --background: hsl(36 39% 88%);
    --foreground: hsl(36 45% 15%);
    --primary: hsl(36 45% 70%);
    --primary-foreground: hsl(36 45% 11%);
    --secondary: hsl(40 35% 77%);
    --secondary-foreground: hsl(36 45% 25%);
    --accent: hsl(36 64% 57%);
    --accent-foreground: hsl(36 72% 17%);
    --destructive: hsl(0 84% 37%);
    --destructive-foreground: hsl(0 0% 98%);
    --muted: hsl(36 33% 75%);
    --muted-foreground: hsl(36 45% 25%);
    --card: hsl(36 46% 82%);
    --card-foreground: hsl(36 45% 20%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(240 10% 3.9%);
    --border: hsl(36 45% 60%);
    --input: hsl(36 45% 60%);
    --ring: hsl(36 45% 30%);
    */
  }
}

.editor {
  font-family: hsl("Space Mono", monospace);
  --font-monospace: "Space Mono";
}

.editor h1 {
  font-size: 2em;
  font-weight: bold;
  border-bottom: solid 1px hsl(36 45% 60%);
  padding-bottom: 0.25em;
  margin-bottom: 1em;
}

.editor h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.editor h3 {
  font-size: 1.5em;
}

.editor h4 {
  font-weight: bold;
}

.editor ul {
  list-style-type: disc;
  margin-left: 2em;
}

.editor ol {
  list-style-type: decimal-leading-zero;
  margin-left: 2em;
}
